.about{
    background: url("../imagenes/fondo-cotopaxi.jpg") center / cover fixed;
    height: auto;
    
}


.opacidad{
    background-color: #000a;
    height: auto;
}



/* main */

.arriba{
    padding: 20px;

}
.arriba2{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.arriba2 img{
    width: 300px;
    border: 2px solid #911405;
    border-radius: 20px;
}

.arriba h2{
    color: #ff0000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

.arriba2 p{
    text-align: right;
    padding: 0 60px;
    color: #fff;
}

.medio{
    padding: 20px;
    background-color: #fff;
}
.medio2{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.medio img{
    width: 300px;
    border: 2px solid #911405;
    border-radius: 20px;
}

.medio h2{
    color: #ff0000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}
.medio p{
    text-align: left;
    padding: 0 60px;
    color: #000;
}

.abajo{
    background-color: transparent;
    display: flex;
    padding: 20px;

}

.parraf-tittle{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: transparent;
}

.textoxd{
    margin: 10px 0;
    text-align: center;
}

.textoxd h3{
    color: #ff0000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
}
.parrafo3 ul{
    padding: 10px 30px;
}
.parrafo3 ul li{
    text-align: left;
    color: #fff;
}


@media (max-width:991px) {

    .arriba2{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .arriba p{
        text-align: justify;
        padding: 20px 0;
    }

    .medio2{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .medio p{
        text-align: justify;
        padding: 20px 0;
    }

    .parraf-tittle{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-icon{
        color: #fff;
    }
}