/* Estilo general */

  .loginxd{
    background: url("../imagenes/fondo-cotopaxi.jpg") center / cover fixed;
    height: 100vh;
  }

  .opacologin{
    background-color: #0006;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /* Contenedor del formulario */
  .login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  /* Título */
  .login-container h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  /* Etiquetas */
  .login-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #555;
    text-align: left;
  }
  
  /* Campos de entrada */
  .login-container input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  /* Botón de envío */
  .login-container button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  /* Enlace de registro */
  .login-container p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
  }
  
  .login-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  