
.tienda{
    background-color: #000;
}


/* main */

.product-banner {
    text-align: center;
    padding: 20px;
    background-color: #911405;
    border: 2px solid #c9302c;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-banner h2{
    color: #fff;
    font-family: 'Bebas Neue',sans-serif;
    font-size: 50px;
} 

.banner-image {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    margin-top: 10px;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f5f5f5;
}

.service {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service p {
    margin: 0;
}

.service img {
    width: 40px;
}

.service2 img{
    width: 100px;
}

.text-prod{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
    align-items: center;

    
}

.products2{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.products h3 {
    margin: 10px;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    
}

.product {
    width: 50%;
    margin: 20px;
    padding: 10px;
    border: 3px solid #ff0000;
    border-radius: 25px;
    text-align: center;
    background-color: #fff;
}

.product img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
}

.product h4 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ff0000;
}

.product p {
    margin: 5px 0;
    color: #000;
}

.product .precio {

    color: #ff0000;
}

button {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

button:hover {
    background-color: #c9302c;
}




@media (max-width:991px) {

    .products2{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .menu-icon{
        color: #fff;
    }
}