
.ubicacionxd{
    background: url("../imagenes/fondo-cotopaxi.jpg") center / cover fixed;
    height: auto;
    
}

.opacidad{
    background-color: #000a;
    height: auto;
}


/* main */
.opaco{
    background-color: #000a;
    height: auto;
}

.titulo_mapa{
    display:flex;
    justify-content: center;
    color:white;
    width: 80%;
    margin: auto;
    border: 2px solid #ff0000;
    background-color: #911405;
    border-radius: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align: center;

}

.titulo{
    padding: 50px;
}


.cuadros-junt{
    display: flex;
    justify-content: space-between;
}

.mapa-recuadro{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    
}

.mapa-recuadro iframe{
    height: 500px;
    border: 2px solid #ff0000;
    border-radius: 20px;
}

.recuadro{
    margin: 30px;
    border: 2px solid #ff0000;
    background-color: #000;
    padding: 10px 30px;
    border-radius: 20px;
}

.recuadro h3{
    color: #ff0000;
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px ;
}

.recuadro ul li{
    color: #fff;
    padding: 10px 0;
}


@media (max-width:991px) {

    .arriba2{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

    .arriba p{
        text-align: justify;
        padding: 20px 0;
    }

    .medio2{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    
    }

    .medio p{
        text-align: justify;
        padding: 20px 0;
    }

    .parraf-tittle{
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-icon{
        color: #fff;
    }

    .cuadros-junt{
        display: flex;
        flex-direction: column;
    }

    .mapa-recuadro{
        margin-bottom: 50px;
    }

}